<h2>
    An archive of modules, that were previously featured on our website.<br>
    These modules are no longer maintained, but remain featured here, should somebody look for them.
</h2>


<hr>
<h2>archive</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="α oracle" description="extract concurrency information from a log with the α oracle." squareContent="🐺" link="wolf/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="log to partial order" description="convert traces of a log into partial orders based on a provided concurrency relation." squareContent="🦀" link="crab/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="αbel oracle" description="convert traces of a log into partial orders based on properties of distributive lattices." squareContent="🦘" link="kangaroo/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
    <ilpn-descriptive-link title=".dot files" description="convert a .dot lattice or pes file into a labeled Petri net." squareContent="🐨" link="koala/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
</div>

<hr>
