<h2>
    Old love never dies!<br>
    These tools and student projects still have a place in our hearts and on our website.<br>
    Some are enjoying retirement, but you're welcome to take them for a spin.
</h2>

<hr>
<h2>Fachpraktikum WiSe 2025/26</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net practice tool" description="group Apple." [fileDisplay]="{icon:'🍎',fontFamily:'\'Courier New\', monospace, serif'}" link="fapra/wise25/apple/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net practice tool" description="group Cookies." squareContent="🍪" link="fapra/wise25/cookies/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net practice tool" description="group Taco." squareContent="🌮" link="fapra/wise25/taco/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net practice tool" description="group Waffle." squareContent="🧇" link="fapra/wise25/waffel/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum WiSe 2024/25</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group North." squareContent="&#x2B99;" link="fapra/wise24/norden/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group South." squareContent="&#x2B9B;" link="fapra/wise24/sueden/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group West." squareContent="&#x2B98;" link="fapra/wise24/westen/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group East." squareContent="&#x2B9A;" link="fapra/wise24/osten/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum WiSe 2023/24</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net editor" description="reachability graph. Token game with steps." [fileDisplay]="{icon:'♥',color:'#f5c639'}" link="fapra/wise23/gelb/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="branching process. Partial language." [fileDisplay]="{icon:'♥',color:'green'}" link="fapra/wise23/gruen/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="workflow net. Soundness." [fileDisplay]="{icon:'♥',color:'blue'}" link="fapra/wise23/blau/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="place invariants." [fileDisplay]="FD_PN" link="fapra/wise23/rot/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum SoSe 2022</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net" description="show a labeled Petri net." [fileDisplay]="FD_PN" link="fapra/sose22/petrinets/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="BPMN model" description="show a BPMN model." [fileDisplay]="FD_BPMN" link="fapra/sose22/bpmn/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Partial order" description="show a set of partial orders." [fileDisplay]="FD_PO" link="fapra/sose22/partialorders/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Transition system" description="show a transition system." [fileDisplay]="FD_TS" link="fapra/sose22/transitionsystems/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Event log" description="show an event log." [fileDisplay]="FD_LOG" link="fapra/sose22/eventlogs/index.html"></ilpn-descriptive-link>
</div>
