<h2>
    This is for all the Petri net lovers out there!<br>
    We present a collection of cute Petri net algorithms. So don't be shy! Come forward!<br>
    Bring a glass of wine, make yourself comfy, and check out all these awesome Petri net algorithms.
</h2>


<hr>
<h2>make love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net" description="show a Petri net." [fileDisplay]="FD_PN" link="showanet2/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="validate" description="validate a run in a Petri net using tokenflows." squareContent="🐇" link="rabbit/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="fire" description="fire a run in a Petri net." squareContent="🐉" link="dragon/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="token trails" description="check if a labeled net is in the net language of a Petri net using token trails." squareContent="🦊" link="fox/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="synthesize" description="synthesize a Petri net from a set of labeled Petri nets." squareContent="🐴" link="horse/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="exploratory process discovery" description="synthesize a Petri net from a log with an interactive frequency threshold." squareContent="🦓" link="zebra/index.html"></ilpn-descriptive-link>
<!--    <ilpn-descriptive-link title="synthesize*" description="in development..." squareContent="🦄" link="unicorn/index.html" [disabled]="true"></ilpn-descriptive-link>-->
<!--    synthesize a set of Petri nets from a set of labeled Petri nets.    -->
</div>

<hr>
<h2>discover love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="prime miner" description="discover a set of Petri net models with progressively better coverage from a log." squareContent="🐻" link="bear/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="ILP miner" description="discover a model from a log using integer linear programming." squareContent="🦭" link="seal/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="ILP² miner" description="discover a model from a log or partial orders using integer linear programming." squareContent="🦈" link="shark/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>spread love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="draw love" description="draw a Petri net." [fileDisplay]="FD_PN" link="drawanet/ilpn.html" ></ilpn-descriptive-link>
    <ilpn-descriptive-link title="model repair" description="find mistakes in a Petri net model and receive repair suggestions." squareContent="🦮" link="guidedog/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="rST Miner" description="discover a Petri net model using random state-space traversal." squareContent="🐜" link="theses/boerger/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum WiSe 2024/25</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group North." squareContent="&#x2B99;" link="fapra/wise24/norden/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group South." squareContent="&#x2B9B;" link="fapra/wise24/sueden/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group West." squareContent="&#x2B98;" link="fapra/wise24/westen/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Interactive Inductive Miner" description="group East." squareContent="&#x2B9A;" link="fapra/wise24/osten/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum WiSe 2023/24</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net editor" description="reachability graph. Token game with steps." [fileDisplay]="{icon:'♥',color:'#f5c639'}" link="fapra/wise23/gelb/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="branching process. Partial language." [fileDisplay]="{icon:'♥',color:'green'}" link="fapra/wise23/gruen/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="workflow net. Soundness." [fileDisplay]="{icon:'♥',color:'blue'}" link="fapra/wise23/blau/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri net editor" description="place invariants." [fileDisplay]="FD_PN" link="fapra/wise23/rot/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>Fachpraktikum SoSe 2022</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri net" description="show a labeled Petri net." [fileDisplay]="FD_PN" link="fapra/sose22/petrinets/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="BPMN model" description="show a BPMN model." [fileDisplay]="FD_BPMN" link="fapra/sose22/bpmn/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Partial order" description="show a set of partial orders." [fileDisplay]="FD_PO" link="fapra/sose22/partialorders/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Transition system" description="show a transition system." [fileDisplay]="FD_TS" link="fapra/sose22/transitionsystems/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Event log" description="show an event log." [fileDisplay]="FD_LOG" link="fapra/sose22/eventlogs/index.html"></ilpn-descriptive-link>
</div>


<hr>
<!-- Before Footer -->
<div fxLayout="column" fxLayoutAlign="start end">
<!--    <span class="archive-link">📦 <a href="fapra/index.html">Fachpraktikum WiSe 23/24</a></span>-->
    <span class="archive-link">📦 <a routerLink="/archive">module archive</a></span>
</div>
<br>
