<h2>
    This is for all the Petri net lovers out there!<br>
    We present a collection of cute Petri net algorithms. So don't be shy! Come forward!<br>
    Bring a glass of wine, make yourself comfy, and check out all these awesome Petri net tools.
</h2>

<hr>
<h2>make love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="validate" description="Verification of Scenarios in Petri Nets Using Compact Tokenflows (FI 2015)" squareContent="🐇" link="rabbit/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="fire" description="Firing Partial Orders in a Petri Net (PN 2021)" squareContent="🐉" link="dragon/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Token Trails" description="Token Trail Semantics I & II (PN 2023 & PN 2024)" squareContent="🦊" link="fox/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Prime Miner" description="Process Discovery using Prime Event Structures (ICPM 2019)" squareContent="🐻" link="bear/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="ILP² Miner" description="Process Discovery for Partially Ordered Event Logs Using ILP (PN 2023)" squareContent="🦈" link="shark/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="repair" description="Autokorrektur von Petrinetzen mithilfe von halbgeordneten Verhaltensdaten (Mod 2024)" squareContent="🦮" link="guidedog/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="synthesize" description="Synthesizing Petri Nets from Labelled Petri Nets (ATAED 2022 & PN 2025)" squareContent="🐴" link="horse/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Exploratory Discovery" description="Exploratory Process Discovery for Petri Nets (AWPN 2024)" squareContent="🦓" link="zebra/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>spread love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Petri nets" description="practice Petri nets and their semantics interactively" squareContent="🌮" link="taco/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Petri nets" description="practice Petri nets and their semantics interactively" [fileDisplay]="{icon:'🍎',fontFamily:'\'Courier New\', monospace, serif'}" link="apple/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Token Trails" description="practice token trails and unfoldings interactively (Kolbfleisch 2026)" squareContent="🐆" link="leopard/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>discover love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="Alpha Miner" description="practice the Alpha Algorithm interactively (Wagner 2026)" squareContent="🐺" link="wolf/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="Inductive Miner" description="practice the Inductive Miner interactively" squareContent="🦫" link="beaver/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="ILP Miner" description="execute the ILP Miner and explore regions" squareContent="🦭" link="seal/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>grow love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="draw love" description="Bewertung von Gestenerkennung in Modellierungswerkzeugen für Petrinetze (Mathar 2022)" [fileDisplay]="FD_PN" link="drawanet/ilpn.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="rST Miner" description="Process-Discovery durch das Würfeln von Plätzen (Börger 2023)" squareContent="🐜" link="theses/boerger/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="sound" description="Tokensimulation zur Vermittlung der Eigenschaften von WF-netzen (Reuter 2025)" squareContent="🎵" link="theses/reuter/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="ReBIM" description="Layout von Ergebnissen des Inductive Miners (Sanders 2025)" squareContent="🐿️" link="theses/sanders/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="gamified inductive miner" description="Gamification in Bildungskontexten (Dadiev 2025)" squareContent="🎲️" link="theses/dadiev/index.html"></ilpn-descriptive-link>
    <ilpn-descriptive-link title="coverability graph" description="Interaktives Lerntools zum Überdeckungsgraphen von Petrinetzen (Merkel 2026)" squareContent="🙈" link="theses/merkel/index.html"></ilpn-descriptive-link>
</div>

<hr>
<h2>more love</h2>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.sm="column" fxLayoutAlign.sm="space-between center">
    <ilpn-descriptive-link title="archive" description="explore earlier tools and student projects. Old love never dies!" squareContent="📦" routerLink="/archive"></ilpn-descriptive-link>
</div>

<!-- Before Footer -->
<div fxLayout="column" fxLayoutAlign="start end">
<!--    <span class="archive-link">📦 <a href="fapra/index.html">Fachpraktikum WiSe 23/24</a></span>
    <span class="archive-link">📦 <a routerLink="/archive">module archive</a></span>
</div>-->
<br>
