$dark-primary-text: black;
$light-primary-text: white;

$green-palette: (
    50: #E0FFE3,
    100: #B3FFB8,
    200: #80FF89,
    300: #4DFF5A,
    400: #26FF36,
    500: #00FF13,
    600: #00FF11,
    700: #00FF0E,
    800: #00FF0B,
    900: #00FF06,
    A100: #97FF97,
    A200: #64FF64,
    A400: #31FF31,
    A700: #18FF18,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);
