<ilpn-page-layout>
    <h2>
        This is for all the Petri net lovers out there! <br>
        We present a collection of cute Petri net algorithms. So don't be shy! Come forward! <br>
        Bring a glass of wine, make yourself comfy, and check out all these awesome Petri net algorithms.
    </h2>
    <hr>
    <h2>draw love</h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <ilpn-descriptive-link title="Petri net" description="draw a Petri net." [fileDisplay]="FD_PN" link="drawanet/ilpn.html"></ilpn-descriptive-link>
    </div>

    <hr>
    <h2>show love</h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <ilpn-descriptive-link title="Petri net" description="show a labeled Petri net." [fileDisplay]="FD_PN" link="petrinets/index.html"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="BPMN model" description="coming soon..." [fileDisplay]="FD_BPMN" [disabled]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="Partial order" description="coming soon..." [fileDisplay]="FD_PO" [disabled]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="Transition system" description="coming soon..." [fileDisplay]="FD_TS" [disabled]="true"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="Event log" description="coming soon..." [fileDisplay]="FD_LOG" [disabled]="true"></ilpn-descriptive-link>
    </div>

    <hr>
    <h2>make love</h2>
    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <ilpn-descriptive-link title="validate" description="validate a run in a Petri net using tokenflows." squareContent="🐇" link="rabbit/index.html"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="fire" description="fire a run in a Petri net." squareContent="🐉" link="dragon/index.html"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="synthesize" description="synthesize a Petri net from a set of labeled Petri nets." squareContent="🐴" link="horse/index.html"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="synthesize*" description="under maintenance..." squareContent="🦄" link="unicorn/index.html" [disabled]="true"></ilpn-descriptive-link>
<!--    synthesize a set of Petri nets from a set of labeled Petri nets.    -->
    </div>

    <hr>
    <h2>discover love</h2>
    <div fxLayout="row" fxLayoutAlign="start start">
        <ilpn-descriptive-link title="α oracle" description="extract concurrency information from a log with the α oracle." squareContent="🐺" link="wolf/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="log to partial order" description="convert traces of a log into partial orders based on a provided concurrency relation." squareContent="🦀" link="crab/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="αbel oracle" description="convert traces of a log into partial orders based on properties of distributive lattices." squareContent="🦘" link="kangaroo/index.html" [descriptionLines]="4"></ilpn-descriptive-link>
        <ilpn-descriptive-link title="prime miner" description="coming soon..." squareContent="🐻" link="bear/index.html" [descriptionLines]="4" [disabled]="true"></ilpn-descriptive-link>
<!--    Discover a set of Petri net models with progressively better coverage from a log.    -->
    </div>

    <hr>
    <h2>convert love</h2>
    <div fxLayout="row" fxLayoutAlign="start start">
        <ilpn-descriptive-link title=".dot files" description="convert a .dot lattice or pes file into a labeled Petri net." squareContent="🐨" link="koala/index.html"></ilpn-descriptive-link>
    </div>

</ilpn-page-layout>
